*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 6.25%;
}

h1 {
  font-size: 75rem;
  width: 100%;
  background-color: rgb(1, 16, 40);
  color: rgb(207, 156, 26);
  text-align: center;
  padding-top: 15rem;
  padding-bottom: 7rem;
}

.pokemon-list {
  list-style-type: none;
  padding-left: 0rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20rem;
  background-color: rgb(57, 122, 163);
  padding: 20rem;
}

li {
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(2, 26, 66);
  border-radius: 7rem;
}

li:hover {
  background-color: rgb(6, 38, 94);
  transform: scale(1.07);
}

.pokemon-picture {
  width: 60%;
}

h3 {
  font-size: 25rem;
  padding-bottom: 10rem;
  color: rgb(225, 172, 38);
}

.select-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 15rem;
  padding-right: 15rem;
  background-color: rgb(1, 16, 40);
  color: rgb(225, 172, 38);
  padding-top: 5rem;
  padding-bottom: 5rem;
  border: 2rem solid rgb(187, 138, 14);
  border-left: none;
  border-right: none;
}

input {
  background-color: rgb(1, 54, 88);
  color: rgb(225, 172, 38);
  font-size: 19rem;
  font-weight: bold;
  border-radius: 3rem;
  border: 1rem solid goldenrod;
  padding-left: 8rem;
}

select {
  background-color: rgb(1, 54, 88);
  color: rgb(225, 172, 38);
  font-size: 19rem;
  text-align: center;
  font-weight: bold;
  border-radius: 3rem;
  border: 1rem solid goldenrod;
}

label {
  font-size: 24rem;
}

.search-div {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.select-div {
  display: flex;
  align-items: center;
  gap: 5rem;
  justify-content: end;
}
